<!DOCTYPE html>
<html>
<head>
  <title>InvoiceBook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   
</head>
<body>

	<nav class="navbar navbar-inverse ">
	  <div class="container-fluid">
	  
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <% if user_signed_in? %>
	      <a class="navbar-brand" href="<%=invoices_path%>">InvoiceBook</a>
	     
	     <% else %>
	     <a class="navbar-brand" href="/">InvoiceBook</a>
	     <% end %>
       </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	      <ul class="nav navbar-nav">
	      <% if user_signed_in? %>
	        <li><%= link_to(" My Invoices", invoices_path) %></li>
	      <p class="navbar-text pull-right">
	      
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <li><%= link_to "Sign up  ", new_user_registration_path, :class => 'navbar-link'  %> </li>
  <li><%= link_to "  Login", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %></p></ul>
	    </div>
	  </div>
	</nav>
	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<br><br><br>
</body>
<footer class="footer">Made by Shawn Rebello  | 2016</footer>
</html>
